<form #form="ngForm" class="mt-16 px-64">
  <div class="overflow-hidden shadow sm:rounded-md">
    <div class="bg-white px-4 py-5 sm:p-6">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-12">
          <label class="block mb-2 text-sm font-medium text-gray-900"
            >Username</label
          >
          <input
            type="text"
            ngModel
            name="username"
            required
            #username="ngModel"
            class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          />
          <div *ngIf="username.errors?.['required']" class="text-red-500">Username is required.</div>
        </div>

        <div class="col-span-12">
          <label class="block mb-2 text-sm font-medium text-gray-900"
            >Password</label
          >
          <input
            type="password"
            ngModel
            name="password"
            required
            #password="ngModel"
            class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          />
          <div *ngIf="password.errors?.['required']" class="text-red-500">Password is required.</div>
        </div>

        <div class="col-span-12">
          <label class="block mb-2 text-sm font-medium text-gray-900"
            >Fullname</label
          >
          <input
            type="text"
            ngModel
            name="fullname"
            required
            #fullname="ngModel"
            class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          />
          <div *ngIf="fullname.errors?.['required']" class="text-red-500">Fullname is required.</div>
        </div>

        <div class="px-4 py-3 text-right flex">
          <button
            routerLink="/dashboard/user-manage/user"
            type="submit"
            class="p-12 inline-flex justify-center rounded-md border border-transparent bg-red-600 py-2 px-4 text-sm font-medium text-white mr-2 shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
          >
            Back
          </button>
          <button
            [disabled]="!form.valid"
            (click)="createUser(form.value)"
            class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
