<form #form="ngForm" class="mt-16 px-64">
  <div class="overflow-hidden shadow sm:rounded-md">
    <div class="bg-white px-4 py-5 sm:p-6">
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-12">
          <label class="block mb-2 text-sm font-medium text-gray-900"
            >Brand Name</label
          >
          <input
            type="text"
            ngModel
            name="name"
            class="border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          />
        </div>

        <div class="px-4 py-3 text-right flex">
          <button
            routerLink="/dashboard/product-manage/brand"
            type="submit"
            class="p-12 inline-flex justify-center rounded-md border border-transparent bg-red-600 py-2 px-4 text-sm font-medium text-white mr-2 shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
          >
            Back
          </button>
          <button
            type="submit"
            (click)="createBrand(form.value)"
            class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
