<section class="bg-none">
  <div class="py-8 px-4 mx-auto w-screen h-full lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <p
        class="mb-4 text-3xl tracking-tight font-bold text-blue-500 md:text-4xl"
      >
        Unauthorized
      </p>
      <p class="mb-4 text-lg font-light text-blue-500">
        Your account does not have permission to access this page.
      </p>
      <a
        routerLink="/auth"
        class="inline-flex text-blue-500 bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900 my-4"
        >Back to SignIn</a
      >
    </div>
  </div>
</section>
